{
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"plugins": ["prettier-plugin-organize-imports"],
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"useTabs": false
			}
		},
		{
			"files": "*.yml",
			"options": {
				"useTabs": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		}
	]
}
